/*
Theme Name: WPLMS
Theme URI: http://www.VibeThemes.com/
Description: WPLMS is a Learning Management System for WordPress. The theme is deep integrated with BuddyPress and comes packed with the Course Module plugin. 
Theme has very powerful features which are essential for a full fledges LMS. Theme utilizes maximum of both WordPress and BuddyPress and can be run on a large scale platform as well.
Author: Mr.Vibe
Author URI: http://www.VibeThemes.com/
Version: 1.6.3
License: Themeforest
License URI: http://themeforest.net/licenses
*/

.wsp-pages-list li a{color:#001a7d !important;}
.row h3{font-weight:600;}

header #searchform input[type="text"]{
	border: none !important;
	
	font-size: 16px !important;
	padding: 6px !important;
	width: 100% !important;
	border-radius:2px !important;
}


.for-gap{margin-bottom:20px;}
.h-class h3, .h-class h5{ font-weight:600; }


.img-adjust{ text-align: center;
width: 100%; }
.img-adjust img{max-width:100%;
max-height:100%;
margin: auto;display:block;}

.img-adjust img{ max-height:150px; max-width:200px;}

/*=== ADD Your Custom Changes here ===*/
.block_media img{
width:100%;
}

.security-question-section input[type="number"]{border:1px solid #DDD;}
.security-question-section+.submit{clear:both;}
.content ul.question_options {
clear: both;
display: inline-block;
width: 100%;
list-style:none;
}
.bbp-forum-title{
	font-size: 18px;
	font-weight: 600;
}
.widget .bbp-forum-title,
.footerwidget .bbp-forum-title{
	font-size:14px;
	font-weight:400;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta{
font-size:13px;
color:#666;
}
#bp_search{
border: 1px solid #DDD;
padding: 9px 12px;
border-radius: 2px;
}
.bbp-topic-permalink{
font-size:16px;
}
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar,#bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar{
	width: 32px;
     border-radius: 50%;
     border: 1px solid #ddd;
}

.bbp-breadcrumb,
.bbp-breadcrumb a{
font-weight:600;
text-transform:uppercase;
}
.block-new {
  //text-align: center;
 // background: #c0c0c0;
 // border: #a0a0a0 solid 1px;
  margin: 20px 34px 0 19px;
}
 

    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered-new {
  display: inline-block;
  //vertical-align: middle;
 }


.child-new {
  padding: 10px 15px;
  margin:30px 0;

}
#headertop{
display:none;
}
header #searchform input[type="text"]{
color:#001a7d !important;
}
.home-font{
font-size:36px;
color:#001a7d;
}

footer {
background-image:url('./images/footer-img.png');
background-repeat:repeat-x;
}
@media (max-width: 767px){
footer {
background-image:url('./images/footer-img.png');
background-repeat:repeat-y;
}
.home-font{
font-size:16px;
}
}
#searchicon{
color:#001a7d !important;
}
@media (max-width: 768px){
.home-font{
font-size:24px;
}
}


.footer-logo li{
display:block;
float:left;
padding:0 10px;
}
.social-icons li{
display:block;
float:left;
padding:0 5px;
}
.custom_block img{max-width:150px; padding:0 0 30px;}
.custom_block h3{font-weight: 600; text-transform: uppercase; font-size: 17px;margin-bottom:0;}

.fluid-wrapper {
    position: relative;
    /*padding-bottom: 25%;  16:9 */
   height: 380px;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border: none;
}

.oval{
     padding: 5px 20px;
     border-radius:50px;
     -moz-border-radius:50px;
     -webkit-border-radius:50px;
     background:#9195a4;
	 text-align: center;
}
.oval a{
color:#333;
}
.sideline{
border-right:1px solide #fff;
}

.fullhomestripe.stripe {
padding: 30px 0 0;
background: #FFF;
}
.successbox{
padding-bottom:30px;
}  
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
 
#breadcrumbs li{
    float:left;
    margin-right:15px;
}
 
#breadcrumbs .separator{
    //font-weight:700;
    font-size:12px;
    color:#999;
}
#breadcrumbs li a{
color:#001a7d !important;
}
#breadcrumbs li a:hover{
color:#fa7252 !important;
}
.logo-footer{
	margin:0;
	padding:0;
}
.logo-footer li{
	float: left;
	padding:10px 0;
	width:20%;
}
@media screen and (max-width: 640px){
.logo-footer li{
	width:100%;
}
}
.first-para{
font-size:18px;
}



.footer-logo-text{
text-align: center;
font-size: 12px;
color: rgb(107, 118, 128);
font-weight: 600;
padding: 0 10px;
}
p a:hover{
color:#fa7252 !important;
}
.button.primary a:hover{
color:#ffffff !important;
}

 .imgBox:hover { 
-moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc;
 box-shadow: 0 0 10px #ccc; 
} 
.sidebar-class a{
color:#001a7d !important;
}
.sidebar-class a:hover{
color:#fa7252 !important;
}
.excerpt a{
color:#001a7d !important;
}
.excerpt a:hover{
color:#fa7252 !important;
}
.contactus-para{
 float: left;
 width: 442px;
}
@media screen and (max-width: 516px){
.contactus-para{
 float: left;
 width:auto;
}
}
}